<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            appearance: none;
            font-size: 20px;
            text-align: center;
            font-family: 'Helvetica ', sans-serif;
        }

        #customForm {
            text-align: center;
            margin: 20px;
        }

        #originalMessage {
            width: 60%;
            height: 50px;
            text-transform: uppercase;
            text-align: center;
            font-size: .75em;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
            overflow-wrap: break-word;
        }

        .letterBox {
            margin: auto;
            font-family: 'Times';
            text-align: center;
            align-items: center;
            border:1px solid black;
            width: 50%
        }

        .unusedLetters {
            text-align: center;
            align-items: center;
        }

        .suggestsions {
            text-align: center;
            align-items: center;
        }

        .helpLabel {
            font-size: .7em;
            text-align: center;
            align-items: center;
            font-family: 'Helvetica ', sans-serif;
        }

      
    </style>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    Hello {{ current_user.username }}
    <br>
    <form id="customForm" action="/game" method="POST">
        <label for="originalMessage">Original Message:</label><br>
        <textarea  id="originalMessage" name="OriginalMessage" rows="4" cols="15" onkeyup="updateOriginalMessage(this.value);">{{ form_data['OriginalMessage'] }}</textarea><br>
    </form>
    <br>
    <div id="tryItHereLable" class = "helpLabel">Make your own message here from the letters in the Original Message.</div>
    
   <div id="tryItBox" class = "letterBox" contenteditable="true"></div> 
   <button id="saveDraft" onclick="saveDraft()">Save Draft</button>
    <br>
    Unused Letters: <div id="unusedLetters" class = "unusedLetters"></div>
    <br>
    <div id="wordSuggestions" class = "suggestions"></div>
    <br>
    <button id="getAiSuggestions" onclick="updateAISuggestions()">Get AI Suggestions</button>
    <div id="aiSuggestions" class = "suggestions"></div>
    <p></p>
    <div id="scrollBox">
        <div id="drafts"></div>
    </div>
    <br>      
    <div id="saveResponse" class = "helpLabel"></div>
    <br>
    <div class = "helpLabel">Click VOTE when you are ready to see everyones else's entries and vote on your favorite.</div>
    <a id="href_vote" href="{{ url_for('vote') }}">VOTE</a>

    <script>
        window.addEventListener("load", myInit, true); 
        
        function myInit()
        {   
            document.getElementById("unusedLetters").innerHTML = unusedLetters("{{ form_data['Best'] }}", "{{ form_data['OriginalMessage'] }}");
            document.getElementById("saveResponse").innerHTML = "";
            updateOriginalMessage("{{ form_data['OriginalMessage']}}");
            updateButtons();
        }; 

        function updateOriginalMessage(message)
        {
            updateTryItBox(false);
            updateScrabbleSuggestions();
            updateVoteUrl();
            updateButtons();
        };

        function updateVoteUrl()
        {
            originalMessage = document.getElementById("originalMessage").value
            document.getElementById("href_vote").href =  "{{ url_for('vote') }}?selection=" + originalMessage
        };

        function formatText(sentence, letters) {
            s= sentence.toUpperCase();
            l = letters.toUpperCase();
            
            let out = "";
            for(let i = 0; i < s.length; i++)
            {
                if(l.includes(s[i]))
                {
                    out = out + s[i].toUpperCase();
                    l = l.replace(s[i],'');
                }
                else
                {
                    out = out + s[i].toLowerCase();
                }
            }
            return out;
        }

        function unusedLetters(text, letters) {
            s= text.toUpperCase().replaceAll(" ", "");
            l = letters.toUpperCase().replaceAll(" ", "");
            let out = "";
            for(let i = 0; i < l.length; i++)
            {
                if(!s.includes(l[i]))
                {
                    out = out + l[i];
                }
                else
                {
                    s = s.replace(l[i], "");
                }
            }
            return out;
        }
        
        function changeTryItBox(clickedElement) {
            var newText = clickedElement.textContent;
            document.getElementById('tryItBox').innerText = newText;
            updateTryItBox(true);
            updateScrabbleSuggestions();
        }

        document.addEventListener('keyup', function (e) {
            e.preventDefault();
            if (e.target.isContentEditable) {
                updateTryItBox(true);
                updateScrabbleSuggestions();
                updateButtons();
            }
        });
    
        function newMessageIsValid()
        {
            var str = document.getElementById('tryItBox').innerText;
            if(str.length == 0)
            {
                return false;
            }

            if (str.toUpperCase() != str)
            {
                return false;
            }

            return true;
        }

        function updateButtons()
        {
            document.getElementById('saveDraft').disabled = !newMessageIsValid();
        }

        function updateTryItBox(fixCarrot)
        {
            e = document.getElementById('tryItBox');
            const text = e.textContent;

            originalMessage = document.getElementById("originalMessage").value
            var selection;
            var range;
            var caretOffset;

            if (fixCarrot)
            {
                selection = window.getSelection();
                range = selection.getRangeAt(0);
                caretOffset = range.startOffset;
            }

            e.innerHTML = formatText(text, originalMessage); 

            if (fixCarrot)
            {
                // Restore caret position
                const newRange = document.createRange();    
                if(e.textContent.length != 0)
                {
                    newRange.setStart(e.firstChild, caretOffset);
                    newRange.collapse(true);

                    selection.removeAllRanges();
                    selection.addRange(newRange);
                }
            }        

            document.getElementById("unusedLetters").innerHTML = unusedLetters(text, originalMessage);
            updateButtons();

        }

        function saveAnswer(text)
        {
            answer = text;
            puzzle = document.getElementById("originalMessage").value

            
            document.getElementById("saveResponse").innerHTML = "Saving..."

            $.ajax({
            data : {
                answer : answer,
                puzzle : puzzle
            },
            type : 'POST',
            url : '/save'
            })
            .done(function(data){
                document.getElementById("saveResponse").innerHTML = data;
            });
        }

        function saveDraftAsAnswer(button)
        {
            saveAnswer(button.value)
            document
        }

        function updateScrabbleSuggestions()
        {
            text = document.getElementById('tryItBox').textContent;
            originalMessage = document.getElementById("originalMessage").value

            $.ajax({
            data : {
                letters : unusedLetters(text, originalMessage)
            },
            type : 'POST',
            url : '/scrabbler'
            })
            .done(function(data){
                document.getElementById("wordSuggestions").innerHTML = data;
            });
        }

        function updateAISuggestions()
        {
            document.getElementById("aiSuggestions").innerHTML = "Thinking...  Give me a second... this is hard...";

            originalMessage = document.getElementById("originalMessage").value

            $.ajax({
            data : {
                OriginalMessage : originalMessage
            },
            type : 'POST',
            url : '/aisuggestions'
            })
            .done(function(data){
                document.getElementById("aiSuggestions").innerHTML = data;
            });
        }

        function addDraftItem() {
            var label = document.createElement('label');
            label.innerHTML = document.getElementById('tryItBox').textContent;  
            
            var submitButton = document.createElement('button');
            submitButton.innerHTML = 'submit';
            submitButton.value = document.getElementById('tryItBox').textContent;
            
            var removeButton = document.createElement('button');
            removeButton.innerHTML = 'x';
            
            // Create a new div to hold the label, radio button, and remove button
            var div = document.createElement('div');
            div.appendChild(label);
            div.append("  ")
            div.appendChild(submitButton);
            div.append("  ")
            div.appendChild(removeButton);
            

            var drafts = document.getElementById('drafts');
            if(drafts.children.length == 0)
            {
                drafts.append("Drafts")
            }
            drafts.appendChild(div);
            
            label.addEventListener('click', function() {
                changeTryItBox(this);
            });

            removeButton.addEventListener('click', function() {
                div.remove(); // Remove the div (containing label, radio button, and remove button)
                var drafts = document.getElementById('drafts')
                if (drafts.children.length == 0)
                {
                    drafts.innerHTML = "";
                }
            });

            submitButton.addEventListener('click', function(){
                saveDraftAsAnswer(this);
                div.remove();
                var drafts = document.getElementById('drafts')
                if (drafts.children.length == 0)
                {
                    drafts.innerHTML = "";
                }
            });

        }

        function saveDraft() {
            addDraftItem();
        }
 

    </script>
</body>


</html>
