<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            appearance: none;
            font-size: 20px;
            text-align: center;
            font-family: 'Helvetica ', sans-serif;
        }

        #customForm {
            text-align: center;
            margin: 20px;
        }

        #originalMessage {
            width: 60%;
            height: 50px;
            text-transform: uppercase;
            text-align: center;
            font-size: .75em;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
            overflow-wrap: break-word;
        }

        .tryItBox {
            margin: auto;
            font-family: 'Times';
            text-align: center;
            align-items: center;
            border:1px solid black;
            width: 75%;
        }

        .unusedLetters {
            text-align: center;
            align-items: center;
        }

        .suggestsions {
            text-align: center;
            align-items: center;
        }

        .helpLabel {
            font-size: .7em;
            text-align: center;
            align-items: center;
            font-family: 'Helvetica ', sans-serif;
        }

        .aiWaiting {
            display: none;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }      

        #scrollBox {
            height: 200px; /* Set the desired height for the scroll box */
            overflow: auto;
            background-color: #9fc5df; /* a dark color */
        }

        .drafts {
            font-size: 15px;
        }

    </style>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/JavaScript/cookies.js"></script>

    Hello {{ current_user.username }}
    <br>
    <img style="max-width: 100%" src="{{form_data['ImageSrc']}}" />
    <br>
    <div id="tryItHereLable" class = "helpLabel">Make your own message here from the letters in the Original Message.</div>
    
   <div id="tryItBox" class = "tryItBox" contenteditable="true"></div><button id="clearTryItBox" onclick="clearTryItBox()">X</button>
   <button id="saveDraft" onclick="addDraftItem(document.getElementById('tryItBox').textContent)">Save Draft</button>
   
    <br>
    Unused Letters: <button onclick="clickScrambleUnusedLetters()">scramble</button><div id="unusedLetters" class = "unusedLetters"></div>
    <br>
    <div id="wordSuggestions" class = "suggestions"></div>
    <br>
    <button id="getAiSuggestions" onclick="updateAISuggestions()">Get AI Suggestions</button>
    <div class="aiWaiting" id="aiWaiting"></div>
    <div id="scrollBox">
        <div id="aiSuggestions" class = "suggestions"></div>
    </div>
    <p></p>
    <div class="body">Drafts</div>
    <div class="drafts" id="drafts"></div>
    <br>      
    <div id="saveResponse" class = "helpLabel"></div>
    <br>
    <div class = "helpLabel">Click VOTE when you are ready to see everyones else's entries and vote on your favorite.</div>
    <a id="href_vote" href="{{ url_for('vote') }}">VOTE</a>

    <script>
        window.addEventListener("load", myInit, true); 
        
        function myInit()
        {   
            document.getElementById("unusedLetters").innerHTML = unusedLetters("{{ form_data['Best'] }}", "{{ form_data['OriginalMessage'] }}");
            document.getElementById("saveResponse").innerHTML = "";
            updateOriginalMessage("{{ form_data['OriginalMessage']}}");
            updateButtons();
            LoadDraftsFromCookie();
        }; 

        function LoadDraftsFromCookie()
        {
            drafts = getCookie("{{ form_data['OriginalMessage']}}").split("#");
            if(drafts.length == 1 && drafts[0] == '')
            {
                //none
                return;
            }
            drafts.forEach(draft => {
                addDraftItem(draft);
            });
        }

        function updateOriginalMessage(message)
        {
            updateTryItBox(false);
            updateScrabbleSuggestions();
            updateVoteUrl();
            updateButtons();
        };

        function updateVoteUrl()
        {
            originalMessage = "{{ form_data['OriginalMessage']}}"
            document.getElementById("href_vote").href =  "{{ url_for('vote') }}?selection=" + originalMessage
        };

        function formatText(sentence, letters) {
            s= sentence.toUpperCase();
            l = letters.toUpperCase();
            
            let out = "";
            for(let i = 0; i < s.length; i++)
            {
                if(l.includes(s[i]))
                {
                    out = out + s[i].toUpperCase();
                    l = l.replace(s[i],'');
                }
                else
                {
                    out = out + s[i].toLowerCase();
                }
            }
            return out;
        }

        function unusedLetters(text, letters) {
            s= text.toUpperCase().replaceAll(" ", "");
            l = letters.toUpperCase().replaceAll(" ", "");
            let out = "";
            for(let i = 0; i < l.length; i++)
            {
                if(!s.includes(l[i]))
                {
                    out = out + l[i];
                }
                else
                {
                    s = s.replace(l[i], "");
                }
            }
            return out;
        }
        
        function changeTryItBox(clickedElement) {
            var newText = clickedElement.textContent;
            document.getElementById('tryItBox').innerText = newText;
            updateTryItBox(true);
            updateScrabbleSuggestions();
        }

        document.addEventListener('keyup', function (e) {
            e.preventDefault();
            if (e.target.isContentEditable) {
                updateTryItBox(true);
                updateScrabbleSuggestions();
                updateButtons();
            }
        });
    
        function newMessageIsValid()
        {
            var str = document.getElementById('tryItBox').innerText;
            if(str.length == 0)
            {
                return false;
            }

            if (str.toUpperCase() != str)
            {
                return false;
            }

            return true;
        }

        function updateButtons()
        {
            document.getElementById('saveDraft').disabled = !newMessageIsValid();
            document.getElementById('clearTryItBox').disabled = document.getElementById('tryItBox').textContent == "";
        }

        function updateTryItBox(fixCarrot)
        {
            e = document.getElementById('tryItBox');
            const text = e.textContent;

            originalMessage = "{{ form_data['OriginalMessage']}}"
            var selection;
            var range;
            var caretOffset;

            if (fixCarrot)
            {
                selection = window.getSelection();
                if (selection.rangeCount != 0)
                {
                    range = selection.getRangeAt(0);
                    caretOffset = range.startOffset;
                }
            }

            e.innerHTML = formatText(text, originalMessage); 

            if (fixCarrot)
            {
                // Restore caret position
                const newRange = document.createRange();    
                if(e.textContent.length != 0)
                {
                    newRange.setStart(e.firstChild, caretOffset);
                    newRange.collapse(true);

                    selection.removeAllRanges();
                    selection.addRange(newRange);
                }
            }        

            document.getElementById("unusedLetters").innerHTML = unusedLetters(text, originalMessage);
            updateButtons();

        }

        function saveAnswer(text)
        {
            answer = text;
            puzzle = "{{ form_data['OriginalMessage']}}"

            
            document.getElementById("saveResponse").innerHTML = "Saving..."

            $.ajax({
            data : {
                answer : answer,
                puzzle : puzzle
            },
            type : 'POST',
            url : '/save'
            })
            .done(function(data){
                document.getElementById("saveResponse").innerHTML = data;
            });
        }

        function saveDraftAsAnswer(button)
        {
            saveAnswer(button.value);
        }

        function updateScrabbleSuggestions()
        {
            text = document.getElementById('tryItBox').textContent;
            originalMessage = "{{ form_data['OriginalMessage']}}"

            $.ajax({
            data : {
                letters : unusedLetters(text, originalMessage)
            },
            type : 'POST',
            url : '/scrabbler'
            })
            .done(function(data){
                document.getElementById("wordSuggestions").innerHTML = data;
            });
        }

        function updateAISuggestions()
        {
            document.getElementById("aiSuggestions").innerHTML = "";
            startAnimation();

            //document.getElementById("aiSuggestions").innerHTML = "";

            originalMessage = "{{ form_data['OriginalMessage']}}"

            $.ajax({
            data : {
                OriginalMessage : originalMessage
            },
            type : 'POST',
            url : '/aisuggestions'
            })
            .done(function(data){
                stopAnimation();
                document.getElementById("aiSuggestions").innerHTML = data;
            });
        }

        function addDraftItem(draft) {
            var label = document.createElement('label');
            label.innerHTML = draft;  
            label.id = "label"

            var submitButton = document.createElement('button');
            submitButton.innerHTML = 'submit';
            submitButton.value = draft;
            
            var removeButton = document.createElement('button');
            removeButton.innerHTML = 'x';
            
            // Create a new div to hold the label, radio button, and remove button
            var div = document.createElement('div');
            div.className = "draft"
            div.appendChild(label);
            div.append("  ")
            div.appendChild(submitButton);
            div.append("  ")
            div.appendChild(removeButton);
            

            var drafts = document.getElementById('drafts');

            drafts.appendChild(div);
            
            label.addEventListener('click', function() {
                changeTryItBox(this);
            });

            removeButton.addEventListener('click', function() {
                div.remove(); 
                SaveDraftsCookie();
            });

            submitButton.addEventListener('click', function(){
                removeDraft(div.label.innerHTML);
                saveDraftAsAnswer(this);
                div.remove();
                SaveDraftsCookie();
            });

            clearTryItBox();

            SaveDraftsCookie();
        }

        function SaveDraftsCookie()
        {
            var drafts = "";
            Array.from(document.getElementsByClassName("draft")).forEach(draft => {
                drafts = drafts + draft.firstChild.innerText + "#";
             });

             setCookie("{{ form_data['OriginalMessage']}}", drafts.slice(0, -1));
        }

        function clearTryItBox() {
            document.getElementById('tryItBox').textContent = "";
            updateTryItBox(true);
            document.getElementById('tryItBox').focus();
            updateButtons();
            updateScrabbleSuggestions();
        }

        function clickScrambleUnusedLetters() {
            var letters = document.getElementById('unusedLetters').innerHTML;

            var a = letters.split(""),
            n = a.length;

            for(var i = n - 1; i > 0; i--) {
                var j = Math.floor(Math.random() * (i + 1));
                var tmp = a[i];
                a[i] = a[j];
                a[j] = tmp;
            }
            document.getElementById('unusedLetters').innerHTML = a.join("");
        }
        
        let index = 0;
        let animationStopped = false;
        const phrases = [
            "This is hard...  gimme a sec!",
            "Thinking...  Thinking...",
            "THINKING INTENSIFIES...",
            "Almost there...",
            "Hang on..."
        ];

        function showNextPhrase() {
            if (animationStopped) return;
            var div = document.getElementById('aiWaiting');
            div.style.display = "block";
            div.innerHTML = phrases[index];
            setTimeout(() => {
            div.style.opacity = '1';
            div.style.transition = 'opacity 1s ease-in-out';
                setTimeout(() => {
                    div.style.opacity = '0';
                    div.style.transition = 'opacity 1s ease-in-out';
                    index = (index + 1) % phrases.length;
                    setTimeout(showNextPhrase, 1000); // Adjust timing here (1000 = 1 second)
            }, 1000); // Adjust timing here (1000 = 1 second)
            }, 100); // Adjust timing here
        }

        function startAnimation() {
            document.getElementById('aiWaiting').style.display = "block"
            index = 0;
            animationStopped = false;
            showNextPhrase();
        }

        function stopAnimation() {
            document.getElementById('aiWaiting').style.display = "none"
            animationStopped = true;
            }

    </script>
</body>


</html>
