<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>
    body {
        font-family: 'Helvetica ', sans-serif;
        font-size: 20px;
    }

    select.custom {
        font-family: 'Helvetica ', sans-serif;
        font-size: 20px;
    }

</style>
<body>
<script>
    window.addEventListener("load", myInit, true); 
  
    function myInit()
    {   
        
        document.getElementById('puzzles').value="{{selected}}";
        o = document.getElementById('puzzles')
        document.getElementById("href_solo").href =  "{{ url_for('solo') }}?OriginalMessage=" + o.options[o.selectedIndex].text
        document.getElementById("href_results").href =  "{{ url_for('results') }}?puzzleId=" + o.options[o.selectedIndex].value   
    };

    function handleSelectionChange()
    {
        document.getElementById("form").submit();
    }

    function handleRadioChange()
    {
        if(checkboxes() > 0)
        {
            document.getElementById("vote_button").disabled = false;           
        }
        else
        {
        	document.getElementById("vote_button").disabled = true;
        }
    }

    function checkboxes()
    {
        var inputElems = document.getElementById("vote")
        count = 0;
        for (var i=0; i<inputElems.length; i++) 
        {       
            if (inputElems[i].type == "checkbox" && inputElems[i].checked == true)
            {
                count++;
            }
        }
        return count
    }
</script>

Hello {{ current_user.username }}
<br>
<br>
Pick an original message to see current vote count and vote on your favorite:
<br>
<br>
<form id="form" action="." method="POST">
    <label for="puzzles">Original Message:</label>
    <select class="custom" name="puzzles" id="puzzles" onchange="handleSelectionChange()">
        {% for puzzle in puzzles %}
            <option value="{{puzzle[0]}}">{{puzzle[1]}}</option>
        {% endfor %}
    </select>
</form>
<br>
    <!-- puzzleId_answerId_userId_answer_votes-->
    <form id="vote" action="." method="POST">
        {% for vote in votes %}
            {% if vote[2] == current_user.id %}
                <input type="checkbox" onchange="handleRadioChange()" id="{{vote[1]}}" name="vote[]" value="{{vote[1]}}">
            {% else %}
                <input disabled=true type="checkbox" onchange="handleRadioChange()" id="{{vote[1]}}" name="vote[]" value="{{vote[1]}}">
            {% endif %}
            <label for="html">({{vote[4]}})  :  {{vote[3]}}</label><br>
        {% endfor %}
        <br>
        Select a message above and click "Vote" to add your vote    
        <input type="hidden" id="selected" name="selected" value="{{selected}}">
        <br>
        <input id="vote_button" type="submit" value="VOTE" disabled>
    </form>
    <br>
    Click <a id="href_solo" href="{{ url_for('solo') }}">HERE</a> to make your own new messages for this one.
    <br>
    Click <a id="href_results" href="{{ url_for('results') }}">HERE</a> see results.
    
</body>